body{
  margin: 0;
padding: 0;
box-sizing: border-box;
background-color: white;

}
/* Header Start*/
header{
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.942);
  color: aliceblue;
}
.logo{font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
}
.navbar{display: flex;
  
  
}
.navbar ul{
  list-style: none;
  margin-top: 3%;
  
}
.navbar ul li {
  
  width: 107px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  background-color: black;
  color: aliceblue;
  border: 1px solid white;
  

}
.navbar ul li a{
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.navbar ul ul{
  display: none;

}
.navbar ul li:hover{
  background-color: rgb(245, 9, 9);
  transition: 1s;

}
.navbar ul li:hover>ul{display: block;}
/* Header End*/


/* Form Start*/
.form{
  width: 4in;
  height: 3in;
  margin: 0 auto;
  background-color:crimson ;
  text-align: center;
  border: 1px solid black;
  border-radius: 3%; 
   margin-top: 1in;
   font-size: 40px;
   font-weight: bold;
   padding-top: 25px;
   text-align: center;
}
.b{
  border-radius: 20px;
  border: 1px solid black;
}
/* Form End */





/* Footer Start*/
footer{
  width: 100%;
  background-color: rgb(50, 49, 49);
  color: aliceblue;
  text-align: center;
  bottom: 0;
  position: absolute;
  padding: 10px;
}
.name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;

}
.text{
  width: 4in;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.icon{
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.copy{
  width: 100%;
  background-color: black;
  text-align: center;
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}


/*Footer End*/
/*Mobil View*/
@media(max-width:500){
.logo{
  font-size:21 ;
  padding: 0;
  margin-top: 6;
  margin-left: 6;
}  
header{
  width: 109%;
  height: 74px;}
  .navbar ul {
    list-style: none;
    margin-top: 16%;
    padding: 0px;
    margin-left: 8px;
}
.navbar ul li {
    width: 55px;
    height: 21px;
    line-height: 23px;
    text-align: center;
    float: left;
    font-size: 10px;
    font-weight: bold;
}
    .form {
    width: 229px;
    height: 225px;
    border-radius: 3%;
    margin-top: 84px;
    font-size: 39px;
    font-weight: bold;
    }.copy {
    width: 95%;
    background-color: black;
    text-align: center;
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    padding: 3px}
    .icon {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
footer {
    width: 109%;
    background-color: rgb(50, 49, 49);
    color: aliceblue;
    text-align: center;
    bottom: 0;
    position: absolute;
    padding: 0px;
    margin-bottom: -48px;
}
.text {
    width: 230px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    font-size: 8px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
}

}